@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');


.selectContainer {
    width: fit-content;
    /* min-width: 300px; */
    
    display: flex;
    flex-direction: column;
}

.selectLabel {}

.selectBox {
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    cursor: default;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204,204,204);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;

    /* max-width: 400px; */
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



.showOptions {
    display: block;
}

.hideOptions {
    display: none;
}

.optionsContainer {
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    color: #253b56;
    margin: 12px 0px;
    padding: 8px;
    overflow: hidden;
    overflow-y: scroll;
   max-height: 200px;
}

.optionsContainer label {
    display: block;
}

.optionsContainer label:hover {
    background-color: lightblue;
}

.tagsContainer {
    display: flex;
    width: 324px;
    padding: 0 8px;
    /* flex-wrap: wrap; */
    overflow: hidden;
    overflow-x: scroll;
}

.tags{
    display: flex;
    align-items: center;
    /* min-width: 0px; */
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.tag{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    color: rgb(51, 51, 51);
    font-size: 85%;
    padding: 3px 3px 3px 6px;
    box-sizing: border-box;
}

.tagButton{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

.downArrowIcon{
    height: 20px;
    width: 20px;
    opacity: 50%;
    padding: 4px;
}

.removeIcon{
    height: 20px;
    width: 20px;
    opacity: 50%;
    padding: 4px;
}